https://anaconda.org/gwinnen/sf-salaries-exercise/notebook

### ë°ì´í„° ë² ì´ìŠ¤ì˜ í•„ìš”ì„±

 - ìš°ë¦¬ê°€ ì“°ë˜ csv, pandas, excel ë¡œëŠ” ê´€ë¦¬ê°€ ë¶ˆê°€ëŠ¥í•œê°€?

In [1]:
C_account = 100      # í˜„ì¬ C ê³ ê° ê³„ì¢Œ ì”ê³ ëŠ” 100

C_account_by_A_process = 100    # A ê³ ê° ì‘ëŒ€ í”„ë¡œê·¸ë¨ì´ C ê³ ê° ê³„ì¢Œ ì”ê³ ë¥¼ ì¡°íšŒí–ˆìŠµë‹ˆë‹¤ 
C_account_by_B_process = 100    # B ê³ ê° ì‘ëŒ€ í”„ë¡œê·¸ë¨ì´ C ê³ ê° ê³„ì¢Œ ì”ê³ ë¥¼ ì¡°íšŒí–ˆìŠµë‹ˆë‹¤ 

C_account_by_A_process = C_account_by_A_process + 50   # A ê³ ê°ì´ 50ì„ ì…ê¸ˆí–ˆìŠµë‹ˆë‹¤. 
C_account_by_B_process = C_account_by_B_process + 30   # A ê³ ê°ì´ 30ì„ ì…ê¸ˆí–ˆìŠµë‹ˆë‹¤. 

C_account = C_account_by_A_process     # A ê³ ê°ì˜ ì…ê¸ˆì´ C ê³ ê° ê³„ì¢Œ ì”ê³ ì— ë°˜ì˜ë˜ì—ˆìŠµë‹ˆë‹¤. 
C_account = C_account_by_B_process     # B ê³ ê°ì˜ ì…ê¸ˆì´ C ê³ ê° ê³„ì¢Œ ì”ê³ ì— ë°˜ì˜ë˜ì—ˆìŠµë‹ˆë‹¤. 

print(C_account)     # C ê³ ê° ê³„ì¢Œ ì”ê³ ëŠ” ì–¼ë§ˆì¼ê¹Œìš”?

130

 - ìœ„ì˜ ì˜ˆì‹œì²˜ëŸ¼, ì˜ì†ì„±(Persistence)ê´€ë¦¬ê°€ ì–´ë µë‹¤. 
íŠ¸ëœì­ì…˜ ê°œë…ì´ í•„ìš”í•¨
 - íŠ¸ë Œì­ì…˜ : ë™ì¼í•œ ë°ì´í„°ë¥¼ ì—¬ëŸ¬ í”„ë¡œì„¸ìŠ¤ê°€ ë™ì‹œì— ì ‘ê·¼í•´ì„œ ë³€ê²½í•˜ë ¤ê³  í•  ë•Œ, í•œ í”„ë¡œì„¸ìŠ¤ì˜ ë³€ê²½ì´ ë‹¤ë¥¸ í”„ë¡œì„¸ìŠ¤ì˜ ë³€ê²½ì„ ë¬´ì‹œí•´ì„œëŠ” ì•ˆë¼!
 
  #### DMBS : ë‹¤ìˆ˜ ì‚¬ìš©ìê°€ ëŒ€ì‘í•  ìˆ˜ ìˆëŠ” íŠ¸ëœì­ì…˜ ì²˜ë¦¬ ê¸°ëŠ¥ì„ ê°–ì¶”ê³ , ë°ì´í„°ì˜ ì •í•©ì„±ì„ ë³´ì¥í•˜ëŠ” ê´€ë¦¬ í”„ë¡œê·¸ë¨
  
![png](im2.png)

- ë¬¼ë¦¬ì  ì»´í“¨í„°ì— ë‘” ê²ƒ : ì„œë²„ ì»´í“¨í„°
- ì •ë³´ì˜ ì§‘í•© : ë°ì´í„° ë² ì´ìŠ¤



 - ì¿¼ë¦¬ : ë°ì´í„° ìš”ì²­í•˜ëŠ” ì¼
 - ì¿¼ë¦¬ë¥¼ ì‘ì„±í•˜ëŠ” ì–¸ì–´ : SQL(Structured Query Language)
 
 - DBA(Database Architect) : ë°ì´í„°ë¥¼ ì–´ë–»ê²Œ ê´€ë¦¬í•  ì§€ ì„¤ê³„í•˜ê³  ì¿¼ë¦¬ë¥¼ ì‘ì„±í•¨
 - ì„¤ê³„í•˜ëŠ” ë°ì´í„°ë² ì´ìŠ¤ì˜ êµ¬ì¡° : ìŠ¤í‚¤ë§ˆ
 
 #### ê´€ê³„í˜• ë°ì´í„°ë² ì´ìŠ¤(RDB) : key ì™€ valueë“¤ì˜ ê´€ê³„ë¥¼ í…Œì´ë¸”ë¡œ ë³´ì—¬ì¤Œ
 
 #### RDB ìš©ì–´
 
![image.png](im3.png)

![image.png](im4.png)

### SQL(Structured Query Language)

 #### SQLë¬¸ ì¢…ë¥˜ 
 
 - DDL(Data Definition Language, ë°ì´í„° ì •ì˜ì–´)
 
 ![image](im5.png)

 - DML(Data Manipulation Language,ë°ì´í„° ì¡°ì‘ì–´)
 
 ë°ì´í„° ê¸°ë³¸ ì¡°ì‘ í–‰ìœ„ : CRUD
 Create : INSERT ë¬¸ ì‚¬ìš©
 Read : SELECT ë¬¸ ì‚¬ìš©
 Updata : UPDATEë¬¸ ì‚¬ìš©
 Delete : DELETEë¬¸ ì‚¬ìš©
 
  ![image](im6.png)

In [1]:
import sqlite3
#ë°ì´í„°ë² ì´ìŠ¤ì™€ ì—°ê²°
conn = sqlite3.connect('example1.db')

In [2]:
## ì»¤ì„œ ê°ì²´ ë§Œë“¤ê¸°
c = conn.cursor()
#ì¿¼ë¦¬ ëª…ë ¹ì–´ ì…ë ¥
# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# ë°ì´í„°ë² ì´ìŠ¤ ë°˜ì˜
conn.commit()

In [3]:
#ì¢…ë£Œ
conn.close()

#### 1. ë©”ëª¨ë¦¬ì— SQLite3 ë°ì´í„°ë² ì´ìŠ¤ë¥¼ ë§Œë“¤ê³  4ê°€ì§€ ì†ì„±ì„ ì§€ë‹Œ 'sales' í…Œì´ë¸”ì„ ë§Œë“ ë‹¤.

In [4]:
import sqlite3

conn = sqlite3.connect(':memory:')
query = """CREATE TABLE sales
            (product VARCHAR(20),
            maker VARCHAR(40),
            amount FLOAT,
            date DATE);"""
conn.execute(query)
conn.commit()

#### 2. í…Œì´ë¸”ì— ë°ì´í„° ì‚½ì…

In [5]:
data = [('smart phone', 'Apple', '47.2', '2019-08-03'),
        ('printer', 'Samsung', '15.2', '2018-02-10',),
        ('monitor', 'LG', '14.25', '2019-12-20'),
        ('python book', 'Amazon', '12.40', '2020-01-23')]
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
conn.executemany(statement, data)
conn.commit()

#### 3. salesí…Œì´ë¸”ì— ì§ˆì˜í•œë‹¤.

In [6]:
cursor = conn.execute("SELECT * FROM sales")
rows = cursor.fetchall()

#### 4. ì¶œë ¥ ë°ì´í„°ì˜ ê°¯ìˆ˜ë¥¼ ìƒŒë‹¤.

In [7]:
row_counter = 0
for row in rows:
    print(row)
    row_counter +=1

print("Number of rows: {}".format(row_counter))

('smart phone', 'Apple', 47.2, '2019-08-03')
('printer', 'Samsung', 15.2, '2018-02-10')
('monitor', 'LG', 14.25, '2019-12-20')
('python book', 'Amazon', 12.4, '2020-01-23')
Number of rows: 4

# Database ë‹¤ë¤„ë³´ê¸°

In [8]:
import sqlite3

```
$ mkdir -p ~/aiffel/sql_to_db/sqlite
```

 - mydbë¼ëŠ” ë°ì´í„°ë² ì´ìŠ¤ë¥¼ ë§Œë“¤ì–´ ì¤€ë‹¤.

In [9]:
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.

<sqlite3.Connection object at 0x7f28a68fcb90>

 - í•¨ìˆ˜ì˜ ì—°ê²°ì„ ì‚¬ìš©í•˜ëŠ” cursor ë¼ëŠ” ê°ì²´ë¥¼ ë§Œë“¤ì
 - CursorëŠ” SQLì˜ ì§ˆì˜(Query)ë¥¼ ìˆ˜í–‰í•˜ê³  ê²°ê³¼ë¥¼ ì–»ëŠ”ë° ì‚¬ìš©í•˜ëŠ” ê°ì²´
 
 - INSERT ëŠ” DBì—ë§Œ ì ìš©ë˜ëŠ” ëª…ë ¹ì–´ë¼ Cursorê°€ í•„ìˆ˜ëŠ” ì•„ë‹˜.
 - SELECT ëŠ” SQL ì§ˆì˜ ìˆ˜í–‰ ê²°ê³¼ì— ì ‘ê·¼í•˜ê¸° ìœ„í•œ Cursorê°€ í•„ìš”í•˜ë‹¤.
 
 - conn.cursor()ë¥¼ ìŠµê´€ì ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ”ê²Œ ì¢‹ë‹¤!

In [12]:
c = conn.cursor()

In [13]:
# stocksì´ë¼ëŠ” ì´ë¦„ì˜ í…Œì´ë¸”ì„ í•˜ë‚˜ ìƒì„±í•©ë‹ˆë‹¤. í˜¹ì‹œ ì´ë¯¸ ìƒì„±ë˜ì—ˆë‹¤ë©´ ìƒëµí•©ë‹ˆë‹¤. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks í…Œì´ë¸”ì— ë°ì´í„°ë¥¼ í•˜ë‚˜ ì¸ì„œíŠ¸í•©ë‹ˆë‹¤. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# ë°©ê¸ˆ ì¸ì„œíŠ¸í•œ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ ë´…ë‹ˆë‹¤.
c.execute("SELECT * FROM stocks")

# ì¡°íšŒëœ ë‚´ì—­ì„ ì»¤ì„œë¥¼ í†µí•´ ê°€ì ¸ì™€ ì¶œë ¥í•´ ë´…ë‹ˆë‹¤.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

SQL LITE Databaseë¥¼ ì‹œê°í™” í•´ì„œ ë³¼ ìˆ˜ ìˆëŠ” ì•± 

```
$ sudo add-apt-repository -y ppa:linuxgndu/sqlitebrowser
$ sudo apt-get update
$ sudo apt-get install sqlitebrowser
```

~/mydb íŒŒì¼ì„ ì—´ì–´ì„œ í™•ì¸í•´ë³´ë©´  ì•„ì§ ë°ì´í„°ê°€ ë³´ì´ì§€ ì•ŠìŒ.!

ê·¸ ì´ìœ ëŠ” 
## conn.commit()ì„ í˜¸ì¶œí•´ì•¼ DBê°€ ì—…ë°ì´íŠ¸ ë¨!

 - ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰ì‹œí‚¤ê³  ë‹¤ì‹œ  DBë¥¼ ì—´ì–´ë³´ë©´ ë°ì´í„°ê°€ ë“¤ì–´ê°€ ìˆëŠ”ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [14]:
conn.commit()   # commit()ì€ cursorì˜ ë©”ì†Œë“œê°€ ì•„ë‹ˆë¼ connectionì˜ ë©”ì†Œë“œì…ë‹ˆë‹¤.

 - ë°ì´í„° ë² ì´ìŠ¤ë¥¼ conn.commit()ì„ í†µí•´ ì‹¤ì œë¡œ ë°˜ì—¬í•˜ëŠ” ê±±ì„ íŠ¸ëœì­ì…˜ ê´€ë¦¬ ë¼ê³  í•œë‹¤.
 
 - íŠ¸ëœì­ì…˜ : ìª¼ê°œì§€ë©´ ì•ˆë˜ëŠ” ì—…ë¬´ë‹¨ìœ„ ë¥¼ ë§í•˜ë©°, ì˜ˆë¥¼ ë“¤ì–´, ì€í–‰ì—ì„œ ê³„ì¢Œì´ì²´ í•  ë•Œ ë‚´ ê³„ì¢Œì—ì„œ ëˆì„ ë¹¼ëŠ” ì¼ê³¼ ìƒëŒ€ë°© ê³„ì¢Œì— ëˆì„ ë„£ëŠ” ì¼ì´ ë¶„ë¦¬ë˜ë©´ ì•ˆë˜ê³  í•˜ë‚˜ì˜ ì¼ ì´ë¼ëŠ” ëœ»ì´ë‹¤.
 

#### DBë¥¼ ë‹¤ ì‚¬ìš©í–ˆìœ¼ë©´ ë§ˆë¬´ë¦¬ ì§€ì–´ì•¼ í•¨. conn.close()

In [15]:
c.close()      # ë¨¼ì € ì»¤ì„œë¥¼ ë‹«ì€ í›„
conn.close()    # DB ì—°ê²°ì„ ë‹«ì•„ ì¤ë‹ˆë‹¤.

### DDL ë¬¸ìœ¼ë¡œ í…Œì´ë¸” ìƒì„±í•´ë³´ê¸°

In [16]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! ì¬ì‹¤í–‰ ì‹œ í…Œì´ë¸”ì´ ì¡´ì¬í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì•„ë˜ì²˜ëŸ¼ í•´ë‹¹ í…Œì´ë¸”ë“¤ì„ ëª¨ë‘ ì§€ì›Œì¤ë‹ˆë‹¤.
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2")
c.execute("DROP TABLE IF EXISTS ëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëª…")


#----- 1st table : ë„ì„œëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar, ëŒ€ì¶œì¼ varchar, ë°˜ë‚©ì¼ varchar)")
#- ìƒì„±(create)ë¬¸ : í…Œì´ë¸”ëª…, ë³€ìˆ˜ëª…, ë³€ìˆ˜íƒ€ì…ì„ ì§€ì •

data = [('101','ë¬¸ê°•íƒœ','aaa','2020-06-01','2020-06-05'),
             ('101','ë¬¸ê°•íƒœ','ccc','2020-06-20','2020-06-25'),
             ('102','ê³ ë¬¸ì˜','bbb','2020-06-01',None),
             ('102','ê³ ë¬¸ì˜','ddd','2020-06-08',None),
             ('103','ë¬¸ìƒíƒœ','ccc','2020-06-01','2020-06-05'),
             ('104','ê°•ê¸°ë‘¥',None,None,None)]
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ì…ë ¥ (ë³€ìˆ˜ëª… ìˆœì„œ ê¸°ì¤€ëŒ€ë¡œ)

c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­ VALUES (?,?,?,?,?)', data)
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ì‹¤ì œ í…Œì´ë¸”ì— insertí•˜ê¸°
#-----------------------------------------------#


#----- 2nd table : ë„ì„œëŒ€ì¶œë‚´ì—­2 -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2 (ID varchar, ì´ë¦„ varchar, ëŒ€ì¶œë…„ì›” varchar, ëŒ€ì¶œì¼ìˆ˜ varchar)")

data = [('101','ë¬¸ê°•íƒœ','2020-06','20ì¼'),
             ('102','ê³ ë¬¸ì˜','2020-06','10ì¼'),
             ('103','ë¬¸ìƒíƒœ','2020-06','8ì¼'),
             ('104','ê°•ê¸°ë‘¥','2020-06','3ì¼')]
c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : ëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar)")

data = [('101','ë¬¸ê°•íƒœ','aaa'),
             ('102','ê³ ë¬¸ì˜','bbb'),
             ('102','ê³ ë¬¸ì˜','fff'),
             ('103','ë¬¸ìƒíƒœ','ccc'),
             ('104','ê°•ê¸°ë‘¥',None)]
c.executemany('INSERT INTO ëŒ€ì¶œë‚´ì—­ VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : ë„ì„œëª… -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëª… (ë„ì„œID varchar, ë„ì„œëª… varchar)")

data = [('aaa','ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„'),
             ('bbb','ì¢€ë¹„ì•„ì´'),
             ('ccc','ê³µë£¡ë°±ê³¼ì‚¬ì „'),
             ('ddd','ë¹¨ê°„êµ¬ë‘'),
             ('eee','ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')]

c.executemany('INSERT INTO ë„ì„œëª… VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()

ë¿…ğŸ’›

 1.  CREATE TABLE IF NOT EXISTS ë„ì„œëª… (ë„ì„œID varchar, ë„ì„œëª… varchar)  ë„ì„œëª… ì´ë¦„ì˜ í…Œì´ë¸”ì´ ì—†ìœ¼ë©´ ë§Œë“¤ê³ , column ì •í•´ì£¼ê¸°
 
 2. data ì— ë°ì´í„° ì…ë ¥
 
 3. INSERT INTO = ë„ì„œëª…ì— dataë¥¼ ë„£ê² ë‹¤ëŠ” ëœ». ë°ì´í„° ì¿¼ë¦¬ì— ë°”ì¸ë”© í•  ë•Œ ì €ëŸ° ì‹ìœ¼ë¡œ ? ë¥¼ ë§ì´ ì‚¬ìš©í•œë‹¤.
 '
 #### ê·¸ë¦¬ê³  c.excecutemany() í•œêº¼ë²ˆì— ì—¬ëŸ¬ê°œì˜ ë°ì´í„° ì²˜ë¦¬í•˜ê²Œ í•´ì¤€ë‹¤.

In [17]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëª…'):
  print(row)

('aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('bbb', 'ì¢€ë¹„ì•„ì´')
('ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('ddd', 'ë¹¨ê°„êµ¬ë‘')
('eee', 'ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')

### SQL = Structured Query Language

 - Databaseë¥¼ êµ¬ì¡°í™” í•  ë•Œ í•„ìš”í•œ ì–¸ì–´
 
 ![image](SQLim1.png)

### ì¿¼ë¦¬ì˜ ê¸°ë³¸ êµ¬ì¡°.

- SELECT ~ : ì¡°íšŒí•  ì»¬ëŸ¼ëª…ì„ ì„ íƒ
- FROM ~ : ì¡°íšŒí•  í…Œì´ë¸”ëª…ì„ ì§€ì • (ìœ„ì¹˜ì™€ í…Œì´ë¸”ëª…ì„ ì…ë ¥)
- WHERE ~ : ì§ˆì˜í•  ë•Œ í•„ìš”í•œ ì¡°ê±´ì„ ì„¤ì •
- GROUP BY ~ : íŠ¹ì • ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹ì„ ì§€ì–´ ì¶œë ¥
- ORDER BY ~ : SELECT ë‹¤ìŒì— ì˜¤ëŠ” ì»¬ëŸ¼ ì¤‘ ì •ë ¬ì´ í•„ìš”í•œ ë¶€ë¶„ì„ ì •ë ¬ (ê¸°ë³¸ ì„¤ì • : ì˜¤ë¦„ì°¨ìˆœ)
- LIMIT ìˆ«ì : Displayí•˜ê³ ì í•˜ëŠ” í–‰ì˜ ìˆ˜ë¥¼ ì„¤ì •

 ![image](SLQim2.png)
 ![image](SQLim3.png)

In [24]:
#- ì°¸ê³  : ì‹¤ì œ ì¡°íšŒë¥¼ í•´ë³´ì‹œë ¤ë©´ ì•„ë˜ì²˜ëŸ¼ ì“°ì‹œë©´ ë©ë‹ˆë‹¤.
#- c.execute() ê´„í˜¸ ì•ˆì— SQLë¬¸ì„ ë„£ìœ¼ì‹œë©´ ë©ë‹ˆë‹¤.

import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
  print(row)

#- ! ì¶œë ¥ ì‹œ 'NULL' ëŒ€ì‹  'None'ìœ¼ë¡œ ì¶œë ¥ë  ìˆ˜ ìˆìœ¼ë‚˜ ë™ì¼í•˜ê²Œ ì´í•´í•˜ì‹œë©´ ë©ë‹ˆë‹¤.

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('104', 'ê°•ê¸°ë‘¥', None, None, None)

## sqlite DB Browserë¥¼ ì´ìš©í•´ ì¿¼ë¦¬ ìˆ˜í–‰í•´ë³´ê¸°

### í…Œì´ë¸” ì „ì²´ë¥¼ ë‹¤ ê°€ì ¸ì™€!

 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­;
 *ì€ í…Œì´ë¸” ì „ì²´ë¥¼ ë‹¤ ê°€ì ¸ì˜¤ë¼ëŠ” ëœ»

### íŠ¹ì • ì»¬ëŸ¼ ì§€ì •í•˜ê¸°
 - SELECT ID FROM ë„ì„œëŒ€ì¶œë‚´ì—­;



### ì¡°ê±´ ì…ë ¥í•˜ê¸°

 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­     
 WHERE ì´ë¦„ = "ë¬¸ê°•íƒœ";
 
 
### GROUP BY ë¡œ ì¤‘ë³µ ì œê±°í•˜ê¸°
 
 - SELECT ì´ë¦„ FROM ë„ì„œëŒ€ì¶œë‚´ì—­    
GROUP BY ì´ë¦„;

### DISTINCT ë¡œ ì¤‘ë³µ ì œê±°í•˜ê¸°
 
 - SELECT DISTINCT ì´ë¦„ FROM ë„ì„œëŒ€ì¶œë‚´ì—­;
 
### ORDER BY ë¡œ ì •ë ¬í•˜ê¸°
 
 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­   
ORDER BY ID ;

 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­    
ORDER BY ID DESC ;

### ì›í•˜ëŠ” ìˆ˜ ë§Œí¼ì˜ row ë§Œ ì¡°íšŒí•˜ê¸°
 
 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­ LIMIT 5 ;
 
 
 - SELECT ì´ë¦„, ëŒ€ì¶œì¼, ë°˜ë‚©ì¼     
FROM ë„ì„œëŒ€ì¶œë‚´ì—­    
ORDER BY ëŒ€ì¶œì¼ DESC    
LIMIT 1;

### DISTINCT ì™€ GROUP BY ì˜ ì¨ë³´ê¸°

![image](SQLim4.png)
![image](SQLim5.png)

#### ë„ì„œëŒ€ì¶œë‚´ì—­' í…Œì´ë¸”ì—ì„œ |ì´ë¦„|ëŒ€ì¶œê±´ìˆ˜| ë¥¼ ì¶œë ¥í•˜ëŠ” ì¿¼ë¦¬ë¥¼ ì‘ì„±í•´ ë³´ì„¸ìš”.  'GROUP BY ì´ë¦„'  êµ¬ë¬¸ì„ í™œìš©í•´ì•¼ í•˜ë©°, 'COUNT(*) AS ëŒ€ì¶œê±´ìˆ˜' ë¼ê³  aliasë¥¼ í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤

- SELECT ì´ë¦„ COUNT(*) AS ëŒ€ì¶œê±´ìˆ˜   
FROM ë„ì„œëŒ€ì¶œë‚´ì—­   
GROUP BY ì´ë¦„

### DATA type ë°”ê¾¸ê¸°

 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2;
 
 ëŒ€ì¶œìë³„ ëŒ€ì¶œ ì—°ì›” ì •ë³´ì™€ í•´ë‹¹ ì›”ì— ì´ ëª‡ ì¼ì„ ëŒ€ì¶œ í–ˆëŠ”ì§€ ì •ë³´ê°€ ë“¤ì–´ìˆë‹¤.
 
 #### í‰ê·  ëŒ€ì¶œ ì¼ìˆ˜ë¥¼ êµ¬í•´ë³´ê¸°
 - ì¼ë‹¨ í‘œë¥¼ ë³´ë©´, 20ì¼, 10ì¼, 8ì¼ , ì´ëŸ°ì‹ìœ¼ë¡œ ì €ì¥ì´ ë˜ì–´ìˆê¸° ë•Œë¬¸ì—, ë¬¸ìí˜• ë°ì´í„°ì„ì„ ì•Œ ìˆ˜ ìˆë‹¤.
 
 - ë°ì´í„° íƒ€ì…ì„ ë¨¼ì € í™•ì¸í•´ë³´ì!

In [25]:
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('pragma table_info(ë„ì„œëŒ€ì¶œë‚´ì—­)'):
  print(row)

(0, 'ID', 'varchar', 0, None, 0)
(1, 'ì´ë¦„', 'varchar', 0, None, 0)
(2, 'ë„ì„œID', 'varchar', 0, None, 0)
(3, 'ëŒ€ì¶œì¼', 'varchar', 0, None, 0)
(4, 'ë°˜ë‚©ì¼', 'varchar', 0, None, 0)

 - ëª¨ë‘ varchar, ë¬¸ìí˜•ìœ¼ë¡œ ë˜ì–´ ìˆë‹¤.
 
 - ëŒ€ì¶œ ì¼ìˆ˜ë¥¼ ë¬¸ìí˜•ì—ì„œ ìˆ«ìí˜•ìœ¼ë¡œ ë³€í™˜í•´ì•¼í•¨!
 
 ####  LEFT, RIGHT, SUBSTRING ì‚¬ìš©í•˜ê¸°
 ![image](SQLim6.png)
 
 - SELECT *, SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì •    
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2;


 ##### CAST í•¨ìˆ˜ëŸ¬ ìˆ«ìë¡œ ë³€í™˜ê¹Œì§€
 - SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì •    
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 ;


 #### ëŒ€ì¶œ ì¼ìˆ˜ í‰ê·  êµ¬í•˜ê¸°
 - SELECT ID, ì´ë¦„, ëŒ€ì¶œë…„ì›”   
, AVG(CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT)) AS ëŒ€ì¶œì¼ìˆ˜_í‰ê·     
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2    
GROUP BY 1,2,3;

### WHERE ì¡°ê±´ìœ¼ë¡œ ì¡°íšŒí•˜ê¸°! (IF ë¬¸ê³¼ ë¹„ìŠ·

 #### íŠ¹ì • ë¬¸ìë¥¼ í¬í•¨í•˜ëŠ” row ê°€ì ¸ì˜¤ê¸°
 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2    
WHERE ì´ë¦„ LIKE "ë¬¸%" ;

  ì´ë¦„ì´ ë¬¸ìœ¼ë¡œ ì‹œì‘í•˜ëŠ” row ë‹¤ ê°€ì ¸ì˜¤ê¸° %ë¬¸% , %ë¬¸ ë„ ê°€ëŠ¥
  
 #### íŠ¹ì • ê¸°ê°„, ë‚ ì§œ ì´ì „ ì´í›„ì˜ row ê°€ì ¸ì˜¤ê¸°
 
 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­   
WHERE    
     ëŒ€ì¶œì¼ >= "2020-06-01"    
AND ëŒ€ì¶œì¼ <= "2020-06-07" ;   

 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­   
WHERE    
     ëŒ€ì¶œì¼ BETWEEN "2020-06-01" AND "2020-06-07" ;
     
 #### íŠ¹ì • ìˆ«ì ì´ìƒ ë˜ëŠ” ì´í•˜ì˜ rowë¥¼ ì¡°íšŒí•˜ê³  ì‹¶ì„ ë•Œ
  - SELECT *   
, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS    INT) AS  
ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì •    
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 
WHERE    
    ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 ;
    
    
 #### NULL ì¡°ê±´ ë‹¤ë£¨ê¸°
 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­   
WHERE ë°˜ë‚©ì¼ IS NOT NULL;   

 - SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­   
WHERE ë°˜ë‚©ì¼ IS NULL ;


#### ì¡°ê±´ 1 : ì´ë¦„ì´ 'íƒœ'ë¡œ ëë‚˜ëŠ” ë°ì´í„°ë¥¼ ì¡°íšŒ ì¡°ê±´ 2 : ëŒ€ì¶œì¼ì´ 2020ë…„ 6ì›” 19ì¼ ì´í›„ì¸ ë°ì´í„°ë¥¼ ì¡°íšŒ ì¡°ê±´ 3 : IDê°€ 102 ì•„ë˜ì¸ ë°ì´í„°ë¥¼ ì¡°íšŒ ì¡°ê±´ 4 : ë°˜ë‚©ì¼ì´ NULLì´ ì•„ë‹Œ ë°ì´í„°ë¥¼ ì¡°íšŒ

 - SELECT *FROM ë„ì„œëŒ€ì¶œë‚´ì—­   
WHERE ì´ë¦„ LIKE "%íƒœ"   
AND ëŒ€ì¶œì¼ >=  "2020-06-19"   
AND ID < 102   
AND ë°˜ë‚©ì¼ IS NOT NULL;

## SQL JOIN ìˆ˜í–‰í•˜ê¸°
![image](SQLim7.png)

- INNER JOIN : A í…Œì´ë¸”ê³¼ B í…Œì´ë¸”ì˜ êµì§‘í•©ì„ ì¡°íšŒ
- LEFT JOIN : (ê¸°ì¤€ì€ A í…Œì´ë¸”) A í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ í•´ì„œ B í…Œì´ë¸”ì€ ê³µí†µë˜ëŠ” ë¶€ë¶„ë§Œ ì¡°íšŒ
- RIGHT JOIN : (ê¸°ì¤€ì€ B í…Œì´ë¸”) B í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ í•´ì„œ A í…Œì´ë¸”ì€ ê³µí†µë˜ëŠ” ë¶€ë¶„ë§Œ ì¡°íšŒ
- FULL JOIN : A í…Œì´ë¸”ê³¼ B í…Œì´ë¸” ëª¨ë‘ì—ì„œ ë¹ íŠ¸ë¦¬ëŠ” ë¶€ë¶„ ì—†ì´ ëª¨ë‘ ì¡°íšŒ

#### ë°ì´í„° êµ¬ì¡° íŒŒì•…
- SELECT * FROM ëŒ€ì¶œë‚´ì—­ ;   
SELECT * FROM ë„ì„œëª… ;

#### INNER JOIN 
 - SELECT A.*, B.ë„ì„œëª…    
FROM ëŒ€ì¶œë‚´ì—­ AS A    
INNER JOIN ë„ì„œëª… AS B   
ON A.ë„ì„œID = B.ë„ì„œID

#### LEFT JOIN
 - SELECT A.*, B.ë„ì„œëª…    
FROM ëŒ€ì¶œë‚´ì—­ AS A    
LEFT JOIN ë„ì„œëª… AS B   
ON A.ë„ì„œID = B.ë„ì„œID

#### RIGHT JOIN
 - SELECT B.*, A.ID, A.ì´ë¦„    
FROM ëŒ€ì¶œë‚´ì—­ AS A    
RIGHT JOIN ë„ì„œëª… AS B   
ON A.ë„ì„œID = B.ë„ì„œID

#### FULL OUTER JOIN
 - SELECT A.*, B.ë„ì„œëª…    
FROM ëŒ€ì¶œë‚´ì—­ AS A    
FULL OUTER JOIN ë„ì„œëª… AS B   
ON A.ë„ì„œID = B.ë„ì„œID   
ORDER BY ë„ì„œID ;

#### ì¤‘ì²©ì§ˆì˜

 -SELECT C.ì´ë¦„, COUNT(*) ëŒ€ì¶œê±´ìˆ˜   
FROM (
    SELECT A.*, B.ë„ì„œëª…    
    FROM ëŒ€ì¶œë‚´ì—­ AS A    
    LEFT JOIN ë„ì„œëª… AS B   
    ON A.ë„ì„œID = B.ë„ì„œID ) C   
GROUP BY C.ì´ë¦„

#### ì¿¼ë¦¬ ì¡°ê±´ì ˆ 1. IFNULL

 - SELECT A.*, IFNULL(B.ë„ì„œëª…, 'ë„ì„œëª…ë¯¸ìƒ') AS ë„ì„œëª…   
    FROM ëŒ€ì¶œë‚´ì—­ AS A    
    LEFT JOIN ë„ì„œëª… AS B   
    ON A.ë„ì„œID = B.ë„ì„œID   
    
 ë„ì„œëª… í•­ëª©ì´ NULLì¸ì§€ ì²´í¬í•´ì„œ, NULLì´ë©´ ê°’ 2, NULL ì´ ì•„ë‹ˆë©´ ê·¸ëŒ€ë¡œ ë¦¬í„´
 
#### ì¿¼ë¦¬ ì¡°ê±´ì˜ 2.CASE

 - SELECT ì´ë¦„, CASE WHEN ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 THEN 'ê¸°ê°„ì´ˆê³¼' ELSE 'ê¸°ê°„ë‚´' END AS ëŒ€ì¶œê¸°ê°„   
FROM (   
SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • 
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 )

 
#### IFNULL(B.ë„ì„œëª…, 'ë„ì„œëª…ë¯¸ìƒ')ì„ CASE ë¬¸ì„ ì‚¬ìš©í•´ì„œ ë™ì¼í•˜ê²Œ ë°”ê¾¼ë‹¤ë©´ ì–´ë–»ê²Œ ë ê¹Œìš”?
 - CASE WHEN  B.ë„ì„œëª… IS NULL THEN 'ë„ì„œëª…ë¯¸ìƒ' ELSE B.ë„ì„œëª… END
 
 
#### 'ë„ì„œëª…' í…Œì´ë¸”ê³¼ 'ë„ì„œëŒ€ì¶œë‚´ì—­' í…Œì´ë¸”ì„ ë„ì„œIDë¥¼ keyë¡œ í•˜ì—¬ LEFT  JOINí•´ì„œ |ë„ì„œID|ë„ì„œëª…|ëŒ€ì¶œê±´ìˆ˜|ëŒ€ì¶œìƒíƒœ| í•­ëª©ì„ ì¶œë ¥í•˜ëŠ” ì¿¼ë¦¬ë¥¼ ì‘ì„±í•´ ë³´ì„¸ìš”. 



ëŒ€ì¶œê±´ìˆ˜ : ë„ì„œë³„ë¡œ ë„ì„œëŒ€ì¶œë‚´ì—­ í…Œì´ë¸”ì— ëŒ€ì¶œì¼ìê°€ ìˆìœ¼ë©´ ëŒ€ì¶œê±´ìˆ˜ 1ë¡œ ë³¸ë‹¤. ì—¬ëŸ¬ ë²ˆ ëŒ€ì¶œë˜ì—ˆìœ¼ë©´ ëŒ€ì¶œëœ íšŒìˆ˜ë§Œí¼ í•©ì‚°ëœë‹¤. 

ëŒ€ì¶œìƒíƒœ : ëŒ€ì¶œì¼ìëŠ” NOT NULLì¸ë° ë°˜ë‚©ì¼ìê°€ NULLì¸ ë„ì„œëŒ€ì¶œë‚´ì—­ì´ ìˆìœ¼ë©´ 'ëŒ€ì¶œì¤‘', ê·¸ë ‡ì§€ ì•Šê³  ëª¨ë“  ëŒ€ì¶œë‚´ì—­ì— ë°˜ë‚©ì¼ìê°€ ëª…ì‹œë˜ì–´ ìˆìœ¼ë©´  'ë³´ê´€ì¤‘'ìœ¼ë¡œ ë³¸ë‹¤.

- SELECT C.ë„ì„œID, C.ë„ì„œëª…, SUM(C.ëŒ€ì¶œê±´ìˆ˜) AS ëŒ€ì¶œê±´ìˆ˜,    
 CASE SUM(C.ëŒ€ì¶œê±´ìˆ˜)-SUM(C.ë°˜ë‚©ê±´ìˆ˜) WHEN 0 THEN 'ë³´ê´€ì¤‘' ELSE   
 'ëŒ€ì¶œì¤‘' END AS ëŒ€ì¶œìƒíƒœ
FROM (   
    SELECT A.ë„ì„œID, A.ë„ì„œëª…,    
     CASE WHEN B.ëŒ€ì¶œì¼ IS NULL THEN 0 ELSE 1 END AS ëŒ€ì¶œê±´ìˆ˜,   
     CASE WHEN B.ë°˜ë‚©ì¼ IS NULL THEN 0 ELSE 1 END AS ë°˜ë‚©ê±´ìˆ˜   
    FROM ë„ì„œëª… AS A     
    LEFT JOIN ë„ì„œëŒ€ì¶œë‚´ì—­ AS B     
    ON A.ë„ì„œID = B.ë„ì„œID ) AS C   
GROUP BY C.ë„ì„œID, C.ë„ì„œëª… ;